<div class="footer-container">
  <div class='footer-subscription'>
    <span class="text-gray-500 text-4xl font-italic ">
      Learn. Track. Improve. <br/><br/>
      Support your healthier lifestyle!
    </span>
    <br/><br/><br/>
    <div class="formgroup-inline">

      <div class="field">
        <input type="email" name="email" size="normal"
               class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
               placeholder="Email">
      </div>
      <button type="button"
              class="text-white surface-600 border-surface-400 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-surface-200 hover:border-surface-200 active:bg-surface-700 active:border-surface-200">
        Subscribe
      </button>
    </div>
  </div>

  <div class='social-media'>
    <div class='social-media-wrap'>

      <img src="assets/images/logo4.png" class="w-4rem" alt="no-picture"/>
      <span class="space text-gray-500 text-4xl font-italic">FitBody</span>

      <div><span class="space text-white-500 text-sm font-italic">FitBody©2022</span></div>


      <i class="pi pi-facebook p-3 text-2xl"></i>
      <i class="pi pi-instagram p-3 text-2xl"></i>
      <i class="pi pi-youtube p-3 text-2xl"></i>
      <i class="pi pi-twitter p-3 text-2xl"></i>
      <i class="pi pi-linkedin p-3 text-2xl"></i>

    </div>
  </div>
</div>
