<body class="login-body">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

<button mat-raised-button routerLink="/home">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>

<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
    <h2>Welcome</h2>
        <mat-form-field appearance="outline">
          <mat-label><i class="pi pi-user p-3 text-1xl"></i>Email</mat-label>
          <input autocomplete="on" formControlName="email" type="email" matInput placeholder="Email">
        </mat-form-field> <br>
        <mat-form-field appearance="outline">
          <mat-label><i class="pi pi-lock p-3 text-1xl"></i>Password</mat-label>
          <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field> <br>

    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
      <span>{{ firebaseErrorMessage }}</span>
    </div>
    <button mat-raised-button >Login</button><br>
    <a href="/forgot-pass">Forgot Password?</a><br>
    <a href="/signup">Create your Account</a><br>
  </form>

  <div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
    <mat-progress-spinner class="example-margin" color="secondary" mode="indeterminate"></mat-progress-spinner>
  </div>

  <div class="drops">
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
  </div>
</div>
</body>
