<div class="flex align-items-center bg-white h-5rem">
  <div class="flex justify-content-between w-full">
    <div class="flex align-items-center pl-5">
      <img src="assets/images/logo4.png" class="w-4rem" alt="no-picture"/>
      <span class="text-gray-500 text-4xl font-italic">FitBody</span>
    </div>
    <div class="flex w-25rem justify-content-between text-xl text-gray-500 font-italic align-items-center pr-8 cursor-pointer">
       <a href="/home-page" >Home</a>
       <a href="/services" >Services</a>
       <a href="/signup" >Sign up</a>
       <a href="/login" >Sign in</a>
    </div>
  </div>
</div>
